<ng-container>
  <div class="card-block">
    <div class="text-center" *ngIf="isLoading">
      <c8y-loading></c8y-loading>
    </div>

    <ng-container *ngIf="!isLoading">
      <div
        class="card m-b-8"
        title="{{ prop.description | translate }}"
        *ngFor="let prop of customProperties"
        [ngClass]="{ 'card-highlight': prop.isEdit }"
      >
        <div class="card-block" [ngClass]="{ 'p-b-0': prop.isEdit }">
          <div class="d-flex p-b-8 a-i-center" *ngIf="!prop.isEdit">
            <p
              class="text-medium text-truncate"
              title="{{ prop?.label | translate }}"
              data-cy="asset-properties-label"
            >
              DeviceID
            </p>
          </div>
          <div>
            <input value="docker_device00001" />
          </div>
        </div>

        <div class="card-block" [ngClass]="{ 'p-b-0': prop.isEdit }">
          <div class="d-flex p-b-8 a-i-center" *ngIf="!prop.isEdit">
            <p
              class="text-medium text-truncate"
              title="{{ prop?.label | translate }}"
              data-cy="asset-properties-label"
            >
              🐳 Docker
            </p>
          </div>

          <div class="d-flex p-b-8 a-i-center">
            <p style="border: inset; background: lightgray; text-overflow: ellipsis">hello inside properties</p>
            <button
              class="btn btn-dot m-l-auto text-12"
              [attr.aria-label]="'Edit' | translate"
              tooltip="{{ 'Edit' | translate }}"
              data-cy="asset-properties-edit-icon"
              type="button"
              [delay]="500"
              (click)="toggleEdit(prop)"
              *ngIf="prop.isEditable || prop.isEditable === undefined"
              [disabled]="isEditDisabled"
            >
              <i c8yIcon="clipboard"></i>
            </button>
          </div>
        </div>

        <div class="card-block" [ngClass]="{ 'p-b-0': prop.isEdit }">
          <div class="d-flex p-b-8 a-i-center" *ngIf="!prop.isEdit">
            <p
              class="text-medium text-truncate"
              title="{{ prop?.label | translate }}"
              data-cy="asset-properties-label"
            >
              💻 Device
            </p>
          </div>

          <div class="d-flex p-b-8 a-i-center">
            <p style="border: inset; background: lightgray; text-overflow: ellipsis">hello inside properties</p>
            <button
              class="btn btn-dot m-l-auto text-12"
              [attr.aria-label]="'Edit' | translate"
              tooltip="{{ 'Edit' | translate }}"
              data-cy="asset-properties-edit-icon"
              type="button"
              [delay]="500"
              (click)="toggleEdit(prop)"
              *ngIf="prop.isEditable || prop.isEditable === undefined"
              [disabled]="isEditDisabled"
            >
              <i c8yIcon="clipboard"></i>
            </button>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</ng-container>
