<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ng-container [ngSwitch]="type" *ngIf="!isEdit">
  <ng-container *ngSwitchCase="'date'">
    {{ (value | c8yDate : 'fullDate') || (defaultEmptyValue | translate) }}
  </ng-container>
  <ng-container *ngSwitchCase="'file'">
    <ng-container *ngIf="file">
      <img
        *ngIf="previewImage"
        [src]="previewImage"
        class="img-thumbnail"
        width="300"
        height="150"
      />
      <button
        *ngIf="!previewImage"
        (click)="filesService.download(file)"
        type="button"
        title="{{ 'Download' | translate }} {{ file.name | translate }}"
        data-cy="asset-properties-item-file-download-button"
        class="btn btn-clean text-truncate p-0"
      >
        {{ file.name | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="!file">
      {{ 'No file attached.' | translate }}
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'object'">
    <ul *ngFor="let prop of complex">
      <span *ngIf="prop.complex">
        <label class="m-b-0 m-r-8 text-truncate" title="{{ prop.label | translate }}">
          {{ prop.label | translate }}
        </label>
        <c8y-asset-properties-item
          [type]="prop.type"
          [complex]="prop.complex"
          [isStandardProperty]="prop.isStandardProperty"
        ></c8y-asset-properties-item>
      </span>
    </ul>
    <ul class="list-unstyled c8y-custom-properties">
      <span *ngFor="let prop of complex; let i = index">
        <li
          *ngIf="!prop.complex"
          [ngClass]="{
            'separator-top-bottom': i === 0,
            'separator-bottom': i > 0
          }"
          class="p-t-4 p-b-4 d-flex text-nowrap"
        >
          <label
            class="small m-b-0 m-r-8 text-truncate"
            title="{{ prop.label | translate }}"
            [ngClass]="{ 'a-s-start': prop.file }"
          >
            {{ prop.label | translate }}
          </label>
          <span class="m-l-auto" style="max-width: {{ prop.file ? '50%' : '100%' }}; min-width:0;">
            <c8y-asset-properties-item
              [file]="prop.file"
              [key]="prop.key"
              [type]="prop.type"
              [value]="prop.value"
              [isStandardProperty]="prop.isStandardProperty"
            ></c8y-asset-properties-item>
          </span>
        </li>
      </span>
    </ul>
  </ng-container>
  <ng-container *ngSwitchCase="type === 'number' || type === 'boolean' ? type : ''">
    <p class="text-truncate" title="{{ value !== null ? value : (defaultEmptyValue | translate) }}">
      {{ value != null ? value : (defaultEmptyValue | translate) }}
    </p>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <p class="text-truncate" title="{{ (value | translate) || (defaultEmptyValue | translate) }}">
      {{ (value | translate) || (defaultEmptyValue | translate) }}
    </p>
  </ng-container>
</ng-container>
<formly-form *ngIf="isEdit" [form]="form" [fields]="fields" [model]="model"></formly-form>
