<div class="modal-header separator">
  <h3 id="modal-title">{{ title | translate }}</h3>
</div>
<div>
  <div class="modal-list-header">
    <div class="form-group m-16">
      <div class="input-group input-group-search">
        <input
          type="search"
          class="form-control"
          data-cy="asset-property-item-input-search"
          placeholder="{{ 'Filter properties' | translate }}"
          [(ngModel)]="search"
        />
        <span class="input-group-addon" *ngIf="search">
          <i
            c8yicon="search"
            class="dlt-c8y-icon-search"
            ng-show="search.length === 0 || !search"
          ></i>
          <i
            c8yicon="times"
            class="text-muted dlt-c8y-icon-times"
            data-cy="asset-property-item-remove-search"
            ng-show="search.length > 0"
            (click)="search = ''"
          ></i>
        </span>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2">
          <label data-cy="asset-property-item-show-column">{{ 'Show' | translate }}</label>
        </div>
        <div class="col-xs-5">
          <label data-cy="asset-property-item-label-column">{{ 'Label' | translate }}</label>
        </div>
        <div class="col-xs-5">
          <label data-cy="asset-property-item-key-column">{{ 'Key' | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal-inner-scroll container-fluid"
    id="modal-body"
    style="max-height: calc(100vh - 340px)"
  >
    <div class="row">
      <div class="d-flex a-i-center property" *ngFor="let property of properties | filter : search">
        <div class="col-xs-2">
          <label class="c8y-checkbox">
            <input
              type="checkbox"
              data-cy="asset-property-item-property-checkbox"
              [(ngModel)]="property.active"
              (change)="onSelectProperty(property)"
            />
            <span></span>
          </label>
        </div>
        <div
          class="col-xs-5 text-truncate"
          data-cy="asset-property-item-property-label"
          title="{{ property.label | translate }}"
          [ngClass]="{ strong: isComplexProperty(property) }"
        >
          <span *ngFor="let i of property.keyPath">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button
            class="btn btn-dot"
            type="button"
            title="{{ 'Complex property.' | translate }}"
            data-cy="asset-property-item-complex-property-tags"
            *ngIf="isComplexProperty(property)"
          >
            <i c8yicon="tags" class="text-info dlt-c8y-icon-tags"></i>
          </button>
          <button
            class="btn btn-dot"
            type="button"
            title="{{ 'Computed property.' | translate }}"
            *ngIf="property.computed"
          >
            <i c8yIcon="bolt" class="text-primary-light"></i>
          </button>
          {{ property.label ? (property.label | translate) : (property.title | translate) }}
        </div>
        <div
          data-cy="asset-property-item-property-name"
          class="col-xs-5 text-truncate"
          title="{{ (property.keyPath?.join('.') | translate) || (property.name | translate) }}"
        >
          {{ (property.keyPath?.join('.') | translate) || (property.name | translate) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center" *ngIf="!properties">
  <c8y-loading></c8y-loading>
</div>
<div class="modal-footer">
  <button
    class="btn btn-default"
    type="button"
    title="{{ 'Cancel' | translate }}"
    data-cy="asset-property-item-property-cancel-button"
    (click)="onCancelButtonClicked()"
  >
    {{ 'Cancel' | translate }}
  </button>
  <button
    class="btn btn-primary"
    type="button"
    title="{{ 'Select' | translate }}"
    data-cy="asset-property-item-property-select-button"
    [disabled]="selectIsDisabled()"
    (click)="onSaveButtonClicked()"
  >
    {{ 'Select' | translate }}
  </button>
</div>
