<c8y-datapoint-selection-list
  [defaultFormOptions]="formConfig"
  [actions]="actions"
  [minActiveCount]="minSelectCount"
  [maxActiveCount]="maxSelectCount"
  [(ngModel)]="property.config.dp"
  class="bg-inherit"
  (change)="modelChanged($event)"
  (isValid)="validationChanged($event)"
>
</c8y-datapoint-selection-list>

<label for="returnTypeField" translate>Return type</label>
<div class="c8y-select-wrapper">
  <select id="returnTypeField" class="form-control" [(ngModel)]="property.config.resultTypes">
    <option *ngFor="let item of resultTypes | keyvalue" [ngValue]="item.value.value">
      {{ item.value.label | translate }}
    </option>
  </select>
</div>
